<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>Listify</title>

    
    <!-- Tailwind CSS CDN allows using utility-first CSS classes directly
      without local setup. Ideal for prototyping. -->
    
      <script src="https://cdn.tailwindcss.com"></script>

</head>
<body> <!-- add select none at the end  -->
    <section>
        <nav class="flex justify-evenly height-auto width-full gap-x-2 ">
            <div class="flex justify-left ">
                <a href="url_for('homePage')"><img src="/static/images/listify.png" alt="Listify logo" class="flex justify-left items-left"></a>
                <span></span>

            </div>
            
        </nav>
    </section>




    {% block content %}

    {% endblock %}


</body>
</html>